[Desktop Entry]
Name=Power Actions
Type=Service
Icon=poweractions
MimeType=inode/directory;application/x-executable;application/x-shellscript;application/octet-stream;
X-KDE-PluginAuthor=ernzo
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Submenu=Power Actions
X-KDE-Priority=TopLevel
X-DBus-StartupType=Multi
Actions=iHack;xfileinfo;runinterm;runasadmin;openasadmin;xpermission;

[Desktop Action iHack]
Name=iHack™
Function= Hack Icon #Don't tell no one ;)
Icon=poweractions
InitialPreference=10
NoDisplay=true
Exec=

[Desktop Action xfileinfo]
Name=Extended File Info
Icon=xfileinfo
X-KDE-PluginDescription=Show File Information
InitialPreference=9
Exec=bash -c '~/scripts/PowerActions/xfileinfo.sh "%u"'

[Desktop Action runinterm]
Name=Run in Terminal
Icon=utilities-terminal
Terminal=false
X-KDE-PluginDescription=Run in Terminal
InitialPreference=8
Exec=x-terminal-emulator -e '/bin/bash -c "~/scripts/PowerActions/runinterm.sh %F; exec $SHELL"'

[Desktop Action runasadmin]
Name=Run as Admin
Icon=utilities-terminal
X-KDE-PluginDescription=Run as Admin
InitialPreference=7
Exec=~/scripts/PowerActions/runasadmin.sh %F

[Desktop Action openasadmin]
Name=Open as Admin
Icon=openasadmin
X-KDE-PluginDescription=Open as Admin
InitialPreference=6
Exec=~/scripts/PowerActions/openasadmin.sh %F

[Desktop Action xpermission]
Name=Add Execute Permission
Icon=application-x-pem-key
X-KDE-PluginDescription=Add Execute Permission
InitialPreference=5
Exec=x-terminal-emulator -e bash -c '~/scripts/PowerActions/xpermission.sh %F; echo -n "Closing Terminal in "; for i in {10..0}; do echo -ne "\rClosing Terminal in $i seconds.."; sleep 1; done; echo -ne "\rClosing Terminal in Done!"'
